services:
  reverse-proxy:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend

  backend:
    build: ./backend
    expose:
      - "3000"
    env_file:
      - ./backend/src/.env
    depends_on:
      - postgres

  postgres:
    image: postgres:alpine
    container_name: postgres_db
    restart: always
    env_file:
      - .env
    volumes:
      - ./backend/db/init/:/docker-entrypoint-initdb.d/
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: