services:
  reverse-proxy:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend

  backend:
    build: ./backend
    container_name: service_desk_backend
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    depends_on:
      - postgres

  seed:
    build: ./backend
    env_file:
      - ./backend/.env
    command: npm run seed
    depends_on:
      - postgres

  postgres:
    image: postgres:alpine
    container_name: postgres_db
    restart: always
    env_file:
      - .env
    volumes:
      - ./backend/db/init/:/docker-entrypoint-initdb.d/
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: